@import "colors.css";

* {
  font-family: "CaskaydiaCove Nerd Font", JetBrainsMono Nerd Font Mono,
    monospace, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  border: none;
  border-radius: 0px;
  font-size: 16px;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 0.5rem;
  padding: 0.4rem;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power-menu {
  background-color: @surface0;
}

#clock {
  color: @blue;
  border-radius: 12px;
  padding: 0px 10px 0px 10px;
  margin: 10px 10px 10px 0px;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 12px;
  padding: 0px 10px 0px 10px;
  margin: 10px 10px 10px 0px;
}

#mpd {
  color: @green;
  border-radius: 1rem;
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  color: @lavender;
}

#custom-power-menu {
  border-radius: 12px;
  padding: 0px 15px 0px 10px;
  margin: 10px 10px 10px 10px;
  color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
#network {
  background-color: @surface0;
  border-radius: 12px;
  padding: 0px 10px 0px 10px;
  margin: 10px 10px 10px 0px;
}

#network.disconnected {
  background-color: @red;
}
#backlight {
  background-color: #90b1b1;
}

#custom-appmenu {
  background-color: @surface0;
  font-size: 20px;
  color: @blue;
  border-radius: 12px;
  padding: 0px 5px 0px 10px;
  margin: 10px 10px 10px 0px;
}
/* Styling brightness and volume and slider */
#pulseaudio-slider,
#backlight-slider {
  border: none;
}

#pulseaudio-slider {
  margin-left: 5px;
  margin-right: 5px;
}

#backlight-slider {
  margin-left: 10px;
}

#pulseaudio-slider slider,
#backlight-slider slider {
  margin-left: -10px;
  min-width: 10px;
  min-height: 10px;
  background: transparent;
  box-shadow: none;
  padding: 0px;
}

#pulseaudio-slider trough,
#backlight-slider trough {
  min-width: 80px;
  border-radius: 5px;
  background-color: @surface0;
}

#pulseaudio-slider highlight,
#backlight-slider highlight {
  border-radius: 5px;
  min-height: 8px;
}
#bluetooth {
  border-radius: 12px;
  padding: 0px 10px 0px 10px;
  margin: 10px 10px 10px 0px;
  background-color: @surface0;
}
